/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_1.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_1A.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_1A_Glow_1.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_1A_Glow_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_1_Glow_1.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_1_Glow_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_2_Combined.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_2_Combined_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_2_Frame.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_2_Frame_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_2_Sidebar.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_2_Sidebar_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_3_Combined.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_3_Combined_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_3_Frame.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_3_Frame_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_3_Sidebar.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_3_Sidebar_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_4_Combined.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_4_Combined_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_4_Frame.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_4_Frame_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_4_Sidebar.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_4_Sidebar_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_5_Combined.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_5_Combined_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_5_Frame.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_5_Frame_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_5_Sidebar.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/4K_UltraHD/CGY_4K_UltraHD_Interface_5_Sidebar_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_0.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_0_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_0_Glow_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_1-1.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_1-1_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_1-1_Glow_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_1-2.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_1-2_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_1-2_Glow_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_1.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_1_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_1_Glow_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_2_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_3.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_3_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_4.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_4_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_5.png filter=lfs diff=lfs merge=lfs -text
/Assets/CGY_SciFi_Interface/Legacy/Interface_5_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/SampleScene.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Sounds/Files/371282__nexotron__spaceship-engine-just-noise.wav filter=lfs diff=lfs merge=lfs -text
/Assets/Sounds/Files/GMXR.exe filter=lfs diff=lfs merge=lfs -text
/Assets/Sounds/Files/data.win filter=lfs diff=lfs merge=lfs -text
/Assets/Sounds/Files/warp[[:space:]]engine[[:space:]]engage_0.wav filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Other/999082660.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Other/999082660.jpg.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Other/PurpleBlackHole.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/PixelPlanetsWindows[[:space:]](1).exe filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/BloodyMaryGasGiant/2720476519.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/BloodyMaryGasGiant/2720476519.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/BloodyMaryGasGiant/BloodyMaryGasGiant.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/BlueMoon/1366110184.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/BlueMoon/1366110184.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/BlueMoon/BlueMoon.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/BlueRedIsland/253090337.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/BlueRedIsland/253090337.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/BlueRedIsland/BlueRedIsland.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/BlueRingedGasGiant/421414418.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/BlueRingedGasGiant/421414418.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/BlueRingedGasGiant/BlueGasGiant.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/BrownGreenDry/2503695894.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/BrownGreenDry/2503695894.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/BrownGreenDry/BrownGreenDry.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/DarkGreenDry/1998636004.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/DarkGreenDry/1998636004.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/DarkGreenDry/DarkGreenDry.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/DustyGasGiant/4245208242.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/DustyGasGiant/4245208242.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/DustyGasGiant/DustyGasGiant.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/EucalyptusIslands/1077951496.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/EucalyptusIslands/1077951496.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/EucalyptusIslands/3424740426.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/EucalyptusIslands/3424740426.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/EucalyptusIslands/EucalyptusIslands.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/EucalyptusIslands2.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/GasGiant/487087992.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/GasGiant/487087992.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/GasGiant/GasGiant.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/GreenPinkIslands/1690783552.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/GreenPinkIslands/1690783552.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/GreenPinkIslands/GreenPinkIslands.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/IceWorld1/1975913543.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/IceWorld1/1975913543.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/IceWorld1/IceWorld1.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/IceWorld2/3400624779.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/IceWorld2/3400624779.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/IceWorld2/IceWorld1.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/InvEucalyptusIslands/4121674216.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/InvEucalyptusIslands/4121674216.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/InvEucalyptusIslands/InvEucalyptusIslands.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/MagmaPlanet1/709496765.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/MagmaPlanet1/709496765.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/MagmaPlanet1/Magma1.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/MagmaPlanet2/902850660.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/MagmaPlanet2/902850660.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/MagmaPlanet2/Magma2.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/MagmaPlanet3/1735698173.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/MagmaPlanet3/1735698173.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/MagmaPlanet3/Magma3.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/MagmaPlanet4/2535911004.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/MagmaPlanet4/2535911004.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/MagmaPlanet4/Magma4.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/MagmaPlanet5/3705441999.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/MagmaPlanet5/3705441999.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/MagmaPlanet5/Magma5.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/Moon1/1448231239.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/Moon1/1448231239.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/Moon1/Moon1.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/Moon2/4123176395.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/Moon2/4123176395.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/Moon2/Moon2.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/NormalIslands/3710302177.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/NormalIslands/3710302177.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/NormalIslands/NormalIslands.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/OrangeGas/3416450129.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/OrangeGas/3416450129.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/OrangeGas/OrangeGas.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/PinkMaroonDesert/1275882591.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/PinkMaroonDesert/1275882591.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/PinkMaroonDesert/PinkMaroonDesert.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/PurpleBlueTerran/2062514478.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/PurpleBlueTerran/2062514478.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/PurpleBlueTerran/PurpleBlueTerran.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/PurpleDry/4015641519.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/PurpleDry/4015641519.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/PurpleDry/PurpleDry.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/PurpleMoon/4230154108.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/PurpleMoon/4230154108.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/PurpleMoon/PurpleMoon.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/RedDry/3867280472.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/RedDry/3867280472.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/RedDry/RedDry.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/TanPurpleMoon/3304105778.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/TanPurpleMoon/3304105778.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/TanPurpleMoon/TanPurpleMoon.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/TerranWetNormal/804522215.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/TerranWetNormal/804522215.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/TerranWetNormal/TerranWetNormal.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/VioletGasGiant/1478741175.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/VioletGasGiant/1478741175.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/VioletGasGiant/VioletGasGiant.anim filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/VioletIslands/1575675603.png filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/VioletIslands/1575675603.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/Background/Space/Planets/Anims/VioletIslands/VioletIslands.anim filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Documentation/TextMesh[[:space:]]Pro[[:space:]]User[[:space:]]Guide[[:space:]]2016.pdf filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Fonts/Roboto-Bold.ttf filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Resources/Fonts[[:space:]]&[[:space:]]Materials/Oswald[[:space:]]Bold[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Scenes/18[[:space:]]-[[:space:]]ScrollRect[[:space:]]&[[:space:]]Masking[[:space:]]&[[:space:]]Layout.unity filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Sprites/Default[[:space:]]Sprites.png filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Sprites/DropCap[[:space:]]Numbers.psd filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Textures/Floor[[:space:]]Tiles[[:space:]]1[[:space:]]-[[:space:]]diffuse.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Textures/Fruit[[:space:]]Jelly[[:space:]](B&W).jpg filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Textures/Small[[:space:]]Crate_normal.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Textures/Sunny[[:space:]]Days[[:space:]]-[[:space:]]Seamless.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Fonts/LiberationSans.ttf filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/LiberationSans[[:space:]]SDF[[:space:]]-[[:space:]]Fallback.asset filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/LiberationSans[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Sprites/EmojiOne.png filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/UniverseScene.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Prefabs/Player/Shooting/BlueShipBulletImpactParticles.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Prefabs/Player/Shooting/YellowBulletImpactParticles.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Prefabs/Stations/StationGenerator.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Sprites/SuitEnvironments/tileset.png.meta filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/UniverseOneView.unity filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_1.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_1A.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_1A_Glow_1.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_1A_Glow_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_1_Glow_1.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_1_Glow_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_2_Combined.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_2_Combined_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_2_Frame.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_2_Frame_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_2_Sidebar.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_2_Sidebar_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_3_Combined.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_3_Combined_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_3_Frame.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_3_Frame_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_3_Sidebar.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_3_Sidebar_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_4_Combined.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_4_Combined_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_4_Frame.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_4_Frame_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_4_Sidebar.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_4_Sidebar_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_5_Combined.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_5_Combined_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_5_Frame.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_5_Frame_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_5_Sidebar.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/4K_UltraHD/CGY_4K_UltraHD_Interface_5_Sidebar_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_0.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_0_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_0_Glow_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_1-1.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_1-1_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_1-1_Glow_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_1-2.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_1-2_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_1-2_Glow_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_1.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_1_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_1_Glow_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_2.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_2_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_3.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_3_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_4.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_4_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_5.png filter=lfs diff=lfs merge=lfs -text
/Assets/SciFi[[:space:]]ui/Legacy/Interface_5_Glow.png filter=lfs diff=lfs merge=lfs -text
/Assets/mount-fuji-panaromic-8k-uj-7680x4320.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Resources/Fonts[[:space:]]&[[:space:]]Materials/Electronic[[:space:]]Highway[[:space:]]Sign[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/Resources/Fonts[[:space:]]&[[:space:]]Materials/Roboto-Bold[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
